.div-app {
    margin: 0;
    padding: 0;

    /* width: 100vw; */
    /* height: 100vh; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.div-title {

    display: flex;
    justify-content: center;

    margin-top: 3rem;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }